name: Cache Demo
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: prime-cache-899883c
      id: cache-step
      uses: actions/cache@v4
      with:
        key: cache-899883c
        path: ~/.npm
    - run: echo "Cache: ${{ steps.cache-step.outputs.cache-hit }}"
